{
    "attributes": {},
    "email": "{{ new_user_email }}",
    "emailVerified": true,
    "enabled": true,
    "firstName": "{{ new_user_firstname }}",
    "lastName": "{{ new_user_lastname }}",
    "username": "{{ new_user_username }}"
}